body {
    word-break: break-all;
   
        
}
.card{
    word-wrap: normal !important;
    
}

.mono{
    font-family: 'Comfortaa', cursive;
}
.brkP{
    width: 95vw !important;
    left: 2vw !important;
}